.progress {
    height: .5rem;
    background-color: var(--a-gray-300);
    border-radius: 5px;
    display: flex;
    width: 100%;
}

.progressBar {
    background-color: var(--a-blue-500);
    display: flex;
    border-radius: 5px;
    transition: width 1s;
}
