.rettigheter {
    --ac-guide-panel-border: var(--a-green-200);
    --ac-guide-panel-illustration-bg: var(
            --a-green-200
    );
}

.plikter {
    --ac-guide-panel-border: var(--a-orange-200);
    --ac-guide-panel-illustration-bg: var(
            --a-orange-200
    );
}
