.elektroniskID {
    background-color: var(--a-gray-100);
    width: 100%;
    padding: 50px;
    margin: 2rem 0;
}

.info {
    max-width: 18rem;
    margin-top: 1rem;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}
@media screen and (min-width: 720px) {
    .wrapper {
        justify-content: space-between;
    }
}
