@import '../node_modules/@navikt/ds-css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mbs {
  margin-bottom: 1rem;
}
.mbm {
  margin-bottom: 1.5rem;
}
.mbl {
  margin-bottom: 2rem;
}
.mhl {
  margin: 2rem 0;
}
.mrl {
  margin-right: 2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.phs {
  padding: 1rem 0;
}

